<div style="text-align: center; margin: 150px;">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" placeholder="Enter your GitHub username">
        <button (click)="search()" class="btn-warning">Search</button>
        <br><br>
        
        <br>
        <div *ngIf="response" class="well" style="text-align: left">
            <div class="row">
               <div class="col-sm-3">
                <img src="{{response.avatar_url}}" width="300px" height="300px">
                 </div>
            </div>
        <p>Email: {{response.email}}</p>
        <p>Location: {{response.location}}</p> 
        <p>Events: {{response.events_url}}</p>
        <p>Number of Followers: {{response.followers}}</p>
        <p>Number of Repositories: {{response.repos_url}}</p>
        <p>Url: {{response.url}}</p>
        </div>
</div>


<footer>
        <h6 style="text-align: center">Copyright 2019 © All rights reserved</h6>
    
</footer>
      


