<div style="text-align: center; margin: 150px;">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" placeholder="Enter your GitHub username">
        <button (click)="search()" class="btn-warning">Search</button>
        <br><br>
        
        <br>
        <div *ngIf="response" style="text-align: left">
            <div class="row">
               <div class="col-sm-3">
                <img src="{{response.avatar_url}}" width="300px" height="300px">
                 </div>
            </div>
        <p> <a href="{response.email}}" target="_blank"></a> Email: {{response.email}}</p>
        <p><a href="{response.location}}" target="_blank"></a> Location: {{response.location}}</p> 
        <p><a href="{response.events_url}}" target="_blank"></a> Events: {{response.events_url}}</p>
        <p><a href="{response.followers}}" target="_blank"></a> Number of Followers: {{response.followers}}</p>
        <p><a href="{response.repos_url}}" target="_blank"></a> Number of Repositories: {{response.repos_url}}</p>
        <p><a href="{response.email}}" target="_blank"></a> Url: {{response.url}}</p>
        <p><a href="{response.html_url}}" target="_blank"></a> View profile: {{response.html_url}}</p>
        </div>
</div>


<footer>
        <h6 style="text-align: center">Copyright 2019 © All rights reserved</h6>
    
</footer>
      


